@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --strongCyan: hsl(172, 67%, 45%);
  --lightStrongCyan: hsl(173, 61%, 77%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html,
* {
  margin: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  color: var(--darkGrayishCyan);
  font-weight: bold;
}

body {
  background-color: var(--lightGrayishCyan);
  font-size: 24px;
}

.spliter-tag {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.spliter-container {
  width: 60%;
  height: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  display: flex;
  justify-content: space-around;

  padding: 2rem;
  border-radius: 1.5rem;
}
/* left side */

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input {
  width: 100%;
}

.tip-options {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tip-option {
  width: 30%;
  color: var(--white);
  background-color: var(--veryDarkCyan);
  border: none;
  margin-top: 20px;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0;
}

.tip-option:hover {
  background-color: var(--lightStrongCyan);
}

.tip-input {
  width: 30%;
  margin-top: 20px;
  border-radius: 0.3rem;
  cursor: pointer;
  border: none;
  background-color: var(--veryLightGrayishCyan);
}
/* right side */

.right-side {
  width: 40%;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: var(--veryDarkCyan);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.per-person-p {
  font-size: 0.8rem;
  color: var(--grayishCyan);
}
.result-header-p {
  color: var(--white);
}

.tip {
  font-size: 2rem;
  color: var(--strongCyan);
}

.reset-btn {
  width: 100%;
  background-color: var(--strongCyan);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--veryDarkCyan);
}
.reset-btn:hover {
  background-color: var(--veryLightGrayishCyan);
}
.hidden {
  display: none;
}

@media (max-width: 976px) {
  html,
  * {
    overflow-x: hidden;
    font-size: 1.1rem;
  }
  body {
    font-size: 18px;
  }
  input,
  div {
    overflow-y: hidden;
  }
  .spliter-tag {
    top: 7%;
  }
  .spliter-container {
    width: 70%;
    height: 100%;
    top: 8%;
    left: 50%;
    transform: translate(-50%, 8%);
    flex-direction: column;

    align-items: center;
    justify-content: space-between;
  }
  .left-side,
  .right-side {
    width: 90%;
  }
  .left-side {
    height: 55%;
  }

  .tip-option,
  .tip-input {
    width: 45%;
  }

  .tip-option {
    padding: 5px 10px;
  }

  .right-side {
    margin-top: 30px;
    height: 35%;
  }
}
