@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");

:root {
  --strongCyan: hsl(172, 67%, 45%);
  --lightStrongCyan: hsl(173, 61%, 77%);
  --veryDarkCyan: hsl(183, 100%, 15%);
  --darkGrayishCyan: hsl(186, 14%, 43%);
  --grayishCyan: hsl(184, 14%, 56%);
  --lightGrayishCyan: hsl(185, 41%, 84%);
  --veryLightGrayishCyan: hsl(189, 41%, 97%);
  --white: hsl(0, 0%, 100%);
}

html,
* {
  margin: 0;
  font-family: "Space Mono", monospace;
  font-size: 1.2rem;
  color: var(--darkGrayishCyan);
  font-weight: bold;
}

body {
  background-color: var(--lightGrayishCyan);
  font-size: 24px;
}

input {
  text-align: end;
}

.attribution-p {
  padding: 0.2em 3em;
  font-size: 0.7rem;
  text-align: center;
}
.attribution-link {
  font-size: 1em;
  color: var(--veryDarkCyan);
  text-decoration: none;
  transition: all 0.15s ease-in-out;
}
.attribution-link:hover {
  text-decoration: underline;
}
.spliter-tag {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -30%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}
.spliter-container {
  width: 60%;
  height: 42%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: var(--white);
  display: flex;
  justify-content: space-around;

  padding: 2rem;
  border-radius: 1.5rem;
}
/* left side */

.left-side {
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.input-bill,
.input-people {
  outline-color: var(--strongCyan);
  width: 100%;
  background-color: var(--veryLightGrayishCyan);
  padding: 0.4em 0.4em;
  background-position: 0.8em 0.8em;
  border-radius: 0.4rem;
  background-repeat: no-repeat;
  border: none;
}
.input-bill {
  background-image: url("./images/icon-dollar.svg");
}
.input-people {
  background-image: url("./images/icon-person.svg");
}

.tip-options {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}

.tip-option,
.selected-tip-option {
  width: 30%;
  border: none;
  margin-top: 20px;
  border-radius: 0.3rem;
  cursor: pointer;
  padding: 0;
}

.tip-option {
  color: var(--white);
  background-color: var(--veryDarkCyan);
  transition: all 0.15s ease-in-out;
}

.tip-option:hover {
  color: var(--veryDarkCyan);
  background-color: var(--lightStrongCyan);
}
.selected-tip-option {
  background-color: var(--strongCyan);
  color: var(--veryDarkCyan);
}

.tip-input,
.selected-tip-input {
  width: 30%;
  margin-top: 20px;
  border-radius: 0.3rem;
  cursor: pointer;
  border: solid 1px transparent;
  outline-color: var(--strongCyan);
}

.tip-input {
  text-align: center;
  background-color: var(--veryLightGrayishCyan);
}

.selected-tip-input {
  text-align: end;
  border: solid 2px var(--strongCyan);
}

.people-label {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.number-people {
  width: 60%;
}

.red {
  color: red;
  text-align: end;
  width: 40%;
}

.red-input {
  width: 98%;
  padding: 0.4em 0.4em;
  border-radius: 0.3rem;
  outline-color: red;
  border: solid 2px red;
}

/* right side */

.right-side {
  width: 40%;
  padding: 1rem;
  border-radius: 0.8rem;
  background-color: var(--veryDarkCyan);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.result-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.per-person-p {
  font-size: 0.8rem;
  color: var(--grayishCyan);
}
.result-header-p {
  color: var(--white);
}

.tip {
  font-size: 2rem;
  color: var(--strongCyan);
}

.reset-btn {
  width: 100%;
  background-color: var(--strongCyan);
  border: none;
  border-radius: 0.2rem;
  cursor: pointer;
  color: var(--veryDarkCyan);
  transition: all 0.15s ease-in-out;
}
.reset-btn:hover {
  background-color: var(--veryLightGrayishCyan);
}

.reset-btn:disabled,
.reset-btn[disabled] {
  opacity: 0.4;
}

.hidden {
  display: none;
}
@media (max-width: 1176px) {
  .spliter-tag {
    top: 9%;
  }
  .spliter-container {
    width: 85%;
    height: 50vh;
    justify-content: space-between;
    align-items: center;
  }
  .left-side {
    width: 45%;
  }
  .tip-options {
    width: 100%;
    justify-content: space-between;
  }
  .tip-option,
  .tip-input {
    width: 48%;
  }
  .selected-tip-option,
  .selected-tip-input {
    width: 48%;
  }

  .tip-option {
    padding: 6px 12px;
  }
  .input-bill,
  .input-people {
    width: 100%;
  }

  .number-people {
    width: 80%;
  }

  .red {
    width: 50%;
  }
  .right-side {
    height: 40vh;
  }
}
@media (max-width: 676px) {
  html,
  * {
    overflow-x: hidden;
    font-size: 1.1rem;
  }
  body {
    font-size: 18px;
  }
  input,
  div {
    overflow-y: hidden;
  }
  .input-bill,
  .input-people {
    width: 95%;
  }
  .spliter-tag {
    top: 8%;
  }
  .spliter-container {
    width: 87vw;
    height: 85vh;
    bottom: 35%;
    left: 50%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    transform: translate(-50%, -35%);
    flex-direction: column;
    padding: 1.4rem;
    align-items: center;
    justify-content: center;
  }
  .left-side {
    width: 100%;
    height: 65%;
    justify-content: space-around;
  }
  .right-side {
    width: 90%;
    margin-top: 25px;
    height: 25%;
  }

  .selected-tip-option {
    padding: 5px 10px;
  }

  .attribution-p {
    font-size: 0.5em;
  }

  .red-input {
    width: 94%;
  }
}
